.inpt {
    padding: 4px;
    border: 1px solid #cecece;
    border-radius: 2px;
    text-align: center;
}

.btn {
    background-color: rgb(82, 221, 221);
    padding: 4px 8px;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    transition: background-color .1s ease-in;
}

.btn:hover {
    background-color: rgb(59, 214, 201);
    color: black;
}
.button{
    background-color: rgb(11, 241, 30);
}
.button1{
    background-color: rgb(247, 26, 26);
}
.vedio{
    text-align: center;
}
.logincss{
    text-align: center;
}
.Email{
    text-align: left;
}
.Pass{
    text-align: left;
}
.logincss{
    text-align: center;
}
.logout{
    text-align: center;
}
.p1{
    color: red;
}